streamlit==1.45.0
langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.32
langchain-groq
langchain-text-splitters
pypdf==4.2.0
faiss-cpu==1.7.4
sentence-transformers==2.6.1
python-dotenv==1.0.1
torch